<mat-nav-list>
    <div class="row " >
        <div class="col-md-6 "  style="margin-left: 70px">
            <img src="assets/images/nii.png" alt="skuulba admin" class="rounded-circle" width="100px" height="100px" >
            <b class="text-bold ml-1">Administrator</b>
        </div>
        
    </div>
    <br>
    <mat-divider></mat-divider>
    <div class="text-center">

        <div *ngFor="let link of links">

            <a  mat-list-item  routerLinkActive="is-active"   (click)="setLinkName(link.name)" >  <mat-icon class="sidebar-icon">{{link.icon}}</mat-icon  > {{ link.name | titlecase}}</a>

        </div>

        <!-- <a  mat-list-item  routerLinkActive="is-active" active  (click)="setLinkName('dashboard')" >  <mat-icon class="sidebar-icon">home</mat-icon  > Dashboard</a>

        <a  mat-list-item  routerLinkActive="is-active"  (click)="setLinkName('sermon')"  >  <mat-icon class="sidebar-icon">subscriptions</mat-icon  > Sermon</a>

        <a  mat-list-item  routerLinkActive="is-active"   (click)="setLinkName('event')" >  <mat-icon class="sidebar-icon">event</mat-icon  > Event</a>

        <a  mat-list-item  routerLinkActive="is-active"  (click)="setLinkName('department')"  >  <mat-icon class="sidebar-icon">business</mat-icon  > Department</a>

        <a  mat-list-item  routerLinkActive="is-active"   (click)="setLinkName('leader')" >  <mat-icon class="sidebar-icon">supervised_user_circle</mat-icon  > Leader</a> -->

     
               
    </div>


<mat-divider></mat-divider>
    

</mat-nav-list>

