<h1 mat-dialog-title>View Sermon</h1>
<div mat-dialog-content>
    <div  class="row">

        <div class="col-md-5">
         <img src="" alt="">
        </div>
    
    
        <div class="col-md-6 ">
            <p class="lead"><b>Name : </b>{{data.name}}</p>
            <p  class="lead"><b>Role : </b>{{data.role }}</p>
            <p  class="lead"><b>Department  : </b>{{data.dep_name}}  </p>
            <div class="lead row" ><div class="col-md-3"> <b>Description : </b></div> <div class="col-md-6"> <span [innerHtml]="data.description" ></span></div>   </div>
            <p  class="lead"><b>Date Uploaded : </b>{{data.createdAt | date:'mediumDate'}} </p>
        </div>
    
    
    </div>
    
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="close()" class="float-right">Close</button>
    
  </div>
       


