<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
    <div  class="row">

        <div class="col-md-6">
            <img [src]="data.image_url" class="img-thumbnail " height="300" />   
        </div>
    
    
        <div class="col-md-6 ">
            <p  ><b>Role : </b> <br>{{data.role }}</p>
            <p  ><b>Department  : </b> <br>{{data.dep_name}}  </p>
            <p><b>Description : </b> <span [innerHtml]="data.description" ></span>  </p>
            <p><b>Status:</b> <br>
                <span class="badge badge-primary" [ngClass]="{
                    'badge-success': data.stat == 'active',
                    'badge-danger': data.stat == 'inactive'
                  }"  >{{data.stat  }}</span>
            </p>
            <p  ><b>Date Uploaded : </b>{{data.createdAt | date:'mediumDate'}} </p>

        </div>
    
    
    </div>
    
</div>
<div mat-dialog-actions class="float-right">
    <button mat-button (click)="close()" class="float-right">Close</button>
    
  </div>
       


