
<mat-card class="mat-elevation-z3" style="margin-bottom:300px; text-align: center">
    <mat-card-content>
        <div class="row justify-content-center">
            <div class="col-md-5 pl-3">

              <div *ngIf="previewUrl; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock> 
                   <img [src]="previewUrl" class="img-thumbnail " height="300" />   
                  <p class="lead">Event Image</p>         
              </ng-template>
              <ng-template #elseBlock>
                  <img src="assets/images/dep2.jpg" class="img-thumbnail mt-4" height="300" />  
              </ng-template>

            </div>
            <div class="col-md-7">
                    <form  [formGroup]="eventForm" (ngSubmit)="saveEvent()">
                    <mat-form-field appearance="outline" style="width:590px"  >
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Men Ministry"  formControlName="name" >
                        <mat-error *ngIf="eventForm.get('name').invalid"> Invalid input </mat-error>
                      </mat-form-field>
                      

                      <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="" class="float-left">Start</label>
                                <input type="datetime-local" class="form-control"  formControlName="startDate" placeholder="First name" value="">
                                <mat-error *ngIf="eventForm.get('startDate').invalid"> Invalid input </mat-error>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="" class="form-label float-left">End</label>
                          <input type="datetime-local" class="form-control" formControlName="endDate" placeholder="Last name" value="">
                          <mat-error *ngIf="eventForm.get('endDate').invalid"> Invalid input </mat-error>
                          </div>
                        </div>
                      </div>
                  
                      <ckeditor matInput formControlName="description" [config]="ckeConfig" debounce="500">
                    </ckeditor>
                    <mat-error *ngIf="eventForm.get('description').invalid"> Invalid input </mat-error>

                      <div class="form-group" >
                        <mat-slide-toggle (change)="isActive()" [checked]="status"  style="margin: 10px 0px  0px -500px;">Active</mat-slide-toggle>
                      </div>

                      <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="customFile" name="filename" (change)="fileProgress($event)" #imageHolder >
                        <label class="custom-file-label" for="customFile">Event Image</label>
                      </div>

                      <div class="float-right">
                        <button  mat-stroked-button color="primary" class="mr-1" type="submit" [disabled]="!eventForm.valid" >Update Event</button>
                      </div>
                </form> 
            </div>
        </div>
    
    </mat-card-content>
    


</mat-card>